* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #DCDCDC;
}

header {
    background-color: rgb(255, 102, 0);
}

.Logo_principal {
    width: 300px;
    height: 150px;
    display: block;
    transform: translateY(-10%);
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

.elity {
    display: block;
    width: 35px;
}

li {
    padding: 1rem;
}

p { 
    font-size: 1rem;
    font-weight: 500;
    margin-top: 8px;
    max-width: 65%;
    margin-left: 18%;
}
    
h1 {
    color: rgb(61, 61, 244);
    text-align: center;
    padding: 1rem;
}

main h3 {
    padding: 1rem;
    text-align: center;
    color:rgb(61, 61, 244) ;
}

div {
    text-align: center;
}

.card-icon {
    margin-left: 10px;
}

.contact-card phone {
    display: flex;
    text-align: start;
}

span {
    display: block;
    padding: 5px;
}

i { 
    padding: 1rem;
}

#social_media_icons, h4 {
    text-align: center;
}

#contact_form_container h3 {
    display: flex;
    font-size: 1.5rem;
    margin-left: 3.5rem;
}

input {
    display: flex;
    height: 30px;
    border: 2px solid rgb(61, 61, 244);
    border-radius: 5px;
    outline: none;
} 

label {
    display: flex;
}

textarea{

    display: flex;
    padding: 50px;
    border: 2px solid rgb(61, 61, 244);
    border-radius: 10px;
    outline: none;
    margin-top: 0.5rem;
}

button {
    width:20%;
    padding: 5px;
    border: 2px solid rgb(61, 61, 244);
    border-radius: 5px;
    outline: none;
}

form {
    margin-left: 4rem;
}

footer {
    padding: 0.5rem;
    background-color: rgb(255, 102, 0);
}